*{
    margin: 0;
    padding: 0;
}
header{
    height: 200px;
    width: 100%;
    background-color: black;
    margin: none;
    text-align: center;
    color: white;
}
h1{
    font-size: 5em; 
    font-variant: small-caps;
    font-weight: bold;
    word-spacing: 7px;
    padding: 20px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    padding: 20px;
}
section{
    font-size: 2em;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: monospace;
    text-decoration: wavy;
}
.img{
    background-color: rgb(105, 105, 105);
}
.img p {
    background-color: rgba(0, 0, 0, 0.808);
    width: 500px;
    color: white;
}
.credito{
    color: white;
    text-align: center;
}